.order-section {
    .title {@include flex-row;align-items:center;@include text-body2(600);
        &.acrtit{justify-content:flex-end;gap:0 8px;cursor:pointer;
            .tit{margin-right:auto;}
        }
        .sum{@include flex-row;gap:0 4px;margin-left:auto;@include text-body2(600);
            span{font-weight:400;}
        }
        .round{@include flex-column;justify-content:center;align-items:center;width:24px;height:24px;border:1px solid $grayscale-gee;border-radius:100%;background-color:$primary-white;
            .i-arrow-down{@include filter-g77;}
        }
    }
    .divider{clear:both;width:100%;height:8px;background-color:$grayscale-gf4;}
    .list{margin:20px 0 0;padding:20px 0 0;border-top:1px solid $grayscale-gee;
        .group{margin:0 0 16px;padding:0 0 16px;border-bottom:1px dashed $grayscale-gee;
            &:last-child{margin:0;padding:0;border-bottom-width:0;}
            dl{@include flex-row;justify-content:space-between;align-items:flex-start;
                dt{@include flex-row;align-items:center;gap:0 4px;@include text-body1(400);}
                dd{@include flex-row;justify-content:flex-end;align-items:center;gap:0 2px;@include text-body1(400);}
            }
            .detail{@include flex-column;
                dl{align-items:flex-start;
                    &:first-child{margin:6px 0 0;}
                    dt{width:47%;position:relative;padding-left:14px;color:$grayscale-g94;@include text-script2(400);
                        &::before{content:'';position:absolute;left:4px;top:5px;width:4px;height:4px;border:1px solid $grayscale-g94;border-top-width:0;border-right-width:0;}
                    }
                    dd{gap:0 8px;color:$grayscale-g94;@include text-script2(500);
                        .remove{display:inline-flex;justify-content:center;align-items:center;width:16px;height:16px;border-radius:100%;background-color:$grayscale-gd4;line-height:0;font-size:0;
                            .i-close{@include filter-white;}
                        }
                    }
                }
            }
        }
        .box-round{margin:16px 0 0;}
    }
    .acrdetail{overflow:hidden;height:0;will-change:height;}
    .active {
        .acrtit{
            .i-arrow-down{transform:rotate(180deg);}
        }
        .acrdetail{height:auto;}
    }
    .tooltip{display:inline-block;width:20px;height:20px;vertical-align:top;
        .icons{vertical-align:top;cursor:pointer;}
        .tipbox{display:none;position:absolute;z-index:2;min-height:38px;margin:-32px 0 0 33px;padding:12px;box-shadow:1px 4px 10px 0 rgba(0,0,0,0.15);text-align:left;@include text-script1(400);color:$grayscale-g44;border-radius:4px;background:$primary-white;
            p{@include flex-column;width:148px;color:$grayscale-g44;}
            .icons{position:absolute;top:12px;right:12px;}
            .arw{position:absolute;top:0;left:-18px;overflow:hidden;width:18px;height:38px;transform:scale(1,0.6);
                &:before{content:"";position:absolute;top:50%;right:-50%;width:16px;height:16px;margin:0 -6px 0 0;transform:rotate(45deg) translate3d(-50%,-50%,0);transform-origin:0 0;box-shadow:1px 4px 10px 0 rgba(0,0,0,0.15);background:$primary-white;}
            }
        }
        &.active{
            .tipbox{display:block;}
        }
    }
    .area-reserve{
        .prod{@include flex-row;flex-wrap:wrap;align-items:flex-start;padding:30px 0 20px;@include sub-section;
            .img{flex-shrink:0;width:80px;height:80px;overflow:hidden;margin-right:16px;border-radius:4px;
                img{display:block;position:relative;left:50%;max-width:none;height:100%;transform:translateX(-50%);}
            }
            .cont{width:calc(100% - 96px);
                .name{@include text-body2(600);line-height:24px;}
                .detail{margin-top:6px;
                    p{@include text-body1(400);
                        strong{color:$primary-hankblue;font-weight:600;}
                    }
                }
            }
        }
        .period{@include flex-row;justify-content:center;align-items:center;gap:0 24px;width:100%;margin:20px 0 0;padding:12px 0;border-radius:4px;background-color:$bg-pure;
            dl{text-align:center;
                dt{color:$grayscale-g94;@include text-script2(500);}
                dd{@include text-body1(600);}
            }
            .card{padding-top:2px;padding-bottom:2px;border-radius:11px;}
            @media screen and (max-width:320px){gap:0 12px;}
        }
        .info{@include flex-column;gap:8px 0;padding:20px 0;@include sub-section;border-top:1px solid $grayscale-gee;
            dl{@include flex-row;align-items:center;padding:0 10px;
                dt{width:60px;color:$grayscale-g77;@include text-script2(400);}
                dd{width:calc(100% - 60px);margin-left:auto;@include text-body1(500);text-align:right;}
            }
        }
    }
    .area-membership{padding:20px 0;
        .title{justify-content:flex-start;gap:0 6px;@include sub-section;
            .sum{margin-left:0;color:$primary-hankblue;}
            .round{margin-left:auto;}
        }
        .membership{@include flex-row;flex-wrap:nowrap;gap:0 10px;margin:20px 0 0;@include sub-section;
            .item{@include flex-column;width:264px;height:142px;padding:19px;border-radius:4px;border:1px solid $grayscale-gee;
                .type{@include flex-row;align-items:flex-start;gap:0 6px;
                    .card{@include text-en;padding-top:2px;padding-bottom:0;margin-top:3px;}
                    .name{@include text-body2(500);}
                }
                .num{margin-top:4px;color:$grayscale-g77;@include text-script2(400);}
                .bullets{margin-top:auto;
                    li{color:$grayscale-g44;
                        &::before{background-color:$grayscale-g44;}
                    }
                }
            }
        }
    }
    .area-estimate{padding:20px 0;@include sub-section;
        .list{padding-left:10px;padding-right:10px;
            .group{
                .detail{
                    dl{
                        dd{gap:0}
                    }
                }
            }
        }
    }
    .area-discount{padding:20px 0;@include sub-section;
        .title{
            .sum{color:$secondary-discount;}
        }
        .group{@include flex-column;gap:12px 0;
            dl{align-items:center;
                dd{color:$secondary-discount;white-space:nowrap;}
                .btns{margin-left:6px;padding:4px 11px;border-radius:3px;border:1px solid $grayscale-gd4;background-color:$primary-white;color:$grayscale-g44;@include text-script1(500);}
            }
        }
    }
    .area-payment{padding:20px 0;@include sub-section;
        .btn-box{margin:12px 0 0;}
    }
    .area-reserve2{padding:30px 0 0;@include sub-section;
        .prod-tour{
            .prod{@include flex-row;align-items:flex-start;
                .img{flex-shrink:0;width:80px;height:80px;overflow:hidden;margin-right:16px;border-radius:4px;
                    img{display:block;position:relative;left:50%;max-width:none;height:100%;transform:translateX(-50%);}
                }
                .cont{
                    .num{margin:0 0 4px;color:$grayscale-g44;@include text-script2(400);}
                    .name{@include text-body2(600);}
                    .detail{margin-top:16px;
                        p{color:$grayscale-g44;@include text-body1(400);
                            strong{font-weight:600;}
                        }
                    }
                }
            }
            .btn-box{margin:16px 0 0;text-align:center;
                .btns{gap:0 4px;width:104px;height:32px;padding-left:4px;border:1px solid $grayscale-gee;border-radius:16px;color:$grayscale-g44;@include text-script2(500);
                    .i-12{@include filter-g94;}
                }
            }
            .info{@include flex-column;gap:12px 0;margin:20px 0 0;padding:20px 0 0;border-top:1px solid $grayscale-gee;
                dl{@include flex-row;align-items:flex-start;
                    dt{width:60px;color:$grayscale-g44;@include text-body1(400);}
                    dd{width:calc(100% - 60px);margin-left:auto;@include text-body1(500);text-align:right;}
                }
            }
        }
    }
    .area-price{padding:30px 0 0;@include sub-section;
        .box-round{
            .group{margin:0 0 16px;padding:0 0 16px;
                &:last-child{margin:0;padding:0;}
                dl + dl{margin-top:12px;}
                dt{@include flex-row;align-items:center;gap:0 4px;}
                dd{@include flex-row;align-items:center;gap:0 4px;
                    span{font-weight:400;}
                }
            }           
        }
    }
    .area-point{padding:30px 0 0;@include sub-section;
        .use{
            dl{@include flex-column;gap:10px 0;
                dt{color:$grayscale-g44;@include text-body1(400);
                    strong{color:$primary-hankblue;font-weight:600;}
                }
                .use-box{@include flex-row;gap:0 8px;
                    .input{width:100%;
                        input{width:100%;padding-right:15px;text-align:right;
                            &.input-error{border-color:$negative-red;color:$negative-red;}
                        }
                        .text-error{display:block;margin:8px 0 0;color:$negative-red;@include text-script2(400);}
                    }
                    .btns{flex-shrink:0;width:73px;}
                }
            }
        }
        .login{@include flex-column;gap:12px 0;
            .subtext{color:$grayscale-g44;@include text-body1(400);}
        }
    }
    .area-method{padding:30px 0 0;@include sub-section;
        .list{
            >li{margin:0 0 20px;padding:0 0 20px;border-bottom:1px solid $grayscale-gee;
                &:last-child{margin-bottom:0;}
            }
            .select{position:relative;line-height:0;
                .btns{position:absolute;right:0;top:50%;margin:-10px 0 0;color:$grayscale-g94;}
            }
            .detail{display:none;margin:20px 0 0;
                &.active{@include flex-column;}
                &.cards{gap:16px 0;}
                &.other{gap:8px 0;}
                .toggle-text{width:100%;
                    input:checked + span {border-color: $primary-hankblue;color:$primary-hankblue;}
                    .img{height:13px;}
                }
                .hk-box{@include flex-column;gap:10px 0;
                    .toggle-card{
                        .box{padding-top:23px;padding-bottom:23px;}
                    }
                    .hk-none{@include flex-column;align-items:center;gap:8px 0;padding:23px 15px;border:1px dashed $grayscale-gd4;border-radius:4px;background-color:$grayscale-gf8;@include text-body1(500);
                        .icon{@include icon-box(24px, 24px);justify-content:center;align-items:center;border-radius:100%;background-color:$secondary-skyblue;font-size:0;line-height:0;
                            .i-plus{@include filter-white;}
                        }
                    }
                    .bullets{margin-top:6px;}
                    .bt-card-monthly{@include flex-row;justify-content:space-between;align-items:center;padding:10px 15px;border-radius:4px;border:1px solid $grayscale-gd4;@include text-body1(400);
                        &::after{content:'';@include icon-box(16px, 16px);background-image: url($path-icon + '16/arrow-down.svg');@include filter-g94;}
                    }
                }
            }
        }
        .txt{margin:20px 0 0;color:$grayscale-g44;}
        .notice{@include flex-column;gap:10px 0;margin:40px 0 0;padding:16px 0 0;border-top:1px solid $grayscale-gee;
            dt{@include flex-row;align-items:center;gap:0 4px;color:$grayscale-g44;@include text-script2(600);}
        }
    }
    .area-terms{padding:10px 0 40px;@include sub-section;
        .box-round{margin:0;}
        .list{
            >li{margin:0 0 16px;
                &:last-child{margin-bottom:0;}
                a{display:block;position:relative;padding-right:16px;color:$grayscale-g44;@include text-body1(400);
                    &::after{content:'';position:absolute;right:0;top:50%;@include icon-box(12px, 12px);margin:-6px 0 0;background-image: url($path-icon + '16/arrow-right.svg');@include filter-g94;}
                }
            }
        }
        .check{margin:20px 0 0;padding:20px 0 0;border-top:1px solid $grayscale-gee;@include text-body1(500);text-align:center;}
    }
    .area-intro{padding:30px 0;@include sub-section;
        .tit{@include text-title1(600);}
        p{margin:10px 0 0;color:$grayscale-g44;@include text-body2(400);}
    }
    .area-form{@include sub-section;
        .form-set-box{border-top:1px solid $grayscale-gee;
            .form-set{padding:30px 0;}
        }
    }
 
    .area-fixed{position:fixed;bottom:0;left:50%;width:100%;max-width:$pad-width;min-width:$mo-width;transform:translateX(-50%);
        &.liner{background:$primary-white;
            &:before{content:"";pointer-events:none;position:absolute;top:0;left:0;width:100%;height:1px;background:$grayscale-gee;}
        }
        &.shadow{background:$primary-white;box-shadow:0px -4px 16px 0px rgba(0, 0, 0, 0.05);}
        &.inline{position:absolute;}
        .price{@include flex-row;flex-wrap:wrap;justify-content:space-between;align-items:center;gap:2px 0;@include sub-section;padding-bottom:12px;
            .text{color:$primary-white;@include text-body2(600);}
            .won{@include flex-row;align-items:center;gap:0 4px;flex-shrink:0;margin-left:auto;@include text-body2(400);color:$primary-white;
                span{margin:0 4px 0 0;@include text-body2(600);}
                strong{@include text-body4(600);}
            }
        }
        .detail{position:relative;@include sub-section;padding-top:1px;padding-bottom:8px;
            &:before{content:"";position:absolute;top:-8px;left:0;width:100%;height:1px;opacity:0.2;@include sub-section;box-sizing:border-box;background:$primary-white;background-clip:content-box;}
            .bullets{padding:0 0 8px;opacity:0.7;
                li{color:$primary-white;
                    &:before{background:$primary-white;}
                }
            }
        }
        .btn-box{@include flex-row;gap:0 8px;@include sub-section;padding-top:4px;
            .btns{white-space:nowrap;
                &.pay{gap:0 2px;@include text-body2(500);
                    .big{@include text-body3(600);}
                }
            }
            .b-52{flex-shrink:0;}
        }
        @include mobile{
            > *:first-child{padding-top:20px;}
            > *:last-child{padding-bottom:20px;}
        }
        @include desktop{
            > *:first-child{padding-top:40px;}
            > *:last-child{padding-bottom:40px;}
        }
        &.active{
            .ctr{
                .i-16{transform:rotate(180deg);}
            }
        }
    }
}

.toggle-card{display:block;cursor:pointer;user-select:none;
    input[type=radio], input[type=checkbox]{display:none;}
    .box{@include flex-row;justify-content:flex-start;align-items:center;gap:0 16px;width:100%;border-radius:4px;border:1px solid $grayscale-gd4;padding:19px;
        .img{flex-shrink:0;width:32px;}
        .cont{@include flex-column;@include text-body1(500);
            strong{@include text-body2(600);}
            span{color:$grayscale-g44;font-weight:400;}
        }
    }
    input:checked + .box{border-color:$primary-hankblue;}
}

.layerpop_load{
    // 바우처, 쿠폰 조회
    .modal-order-benefit {
        .content{
            .area-have{position:sticky;top:0;z-index:2;}
            .area-list{margin-top:30px;
                &.voucher{
                    .item{display:block;padding:0;cursor:pointer;
                        input{display:none;
                            + .box{@include flex-column;position:relative;padding:19px;padding-right:71px;border:1px solid $grayscale-gf8;border-radius:4px;background-color:$grayscale-gf8;
                                &::before{content:'';position:absolute;right:20px;top:50%;width:30px;height:30px;margin:-16px 0 0;border-radius:100%;border:1px solid $grayscale-gd4;background-color:$primary-white;}
                                .tit{color:$primary-hankblue;@include text-body1(500);}
                                .benefit{@include flex-row;align-items:center;gap:0 4px;margin:4px 0 0;color:$primary-hankblue;
                                    strong{@include text-en;@include text-title2(600);line-height:36px;}
                                    span{@include text-body3(400);}
                                }
                                .validity{margin:16px 0 0;color:$grayscale-g94;@include text-script2(400);
                                    .day{font-weight:600;}
                                }
                            }
                            &:checked{
                                + .box{border-color:$secondary-flyblue;background-color:$primary-white;box-shadow:3px 3px 6px 0px rgba(0, 0, 0, 0.10);
                                    &::before{border-color:$secondary-flyblue;background-color:$secondary-flyblue;}
                                    &::after{content:'선택';position:absolute;right:20px;top:50%;width:32px;height:32px;margin:-16px 0 0;border-radius:100%;background-image:url($path-icon + '20/check.svg');background-repeat:no-repeat;background-size:20px;background-position:center;@include filter-white;text-indent:-9999em;}
                                }
                            }
                        }
                    }
                }
                &.coupon{margin-top:0;
                    dl{margin-top:30px;
                        dt{@include text-body2(600);}
                        dd{margin-top:12px;
                            .item{display:block;padding:0;cursor:pointer;
                                input{display:none;
                                    + .box{@include flex-row;align-items:center;gap:0 10px;position:relative;padding:15px;border:1px solid $grayscale-gee;border-radius:4px;
                                        &::before{content:'';position:absolute;left:14px;top:50%;width:28px;height:28px;margin:-14px 0 0;border-radius:100%;background-color:$primary-white;background-image: url($path-common + 'radio.png');background-repeat:no-repeat;background-size:contain;background-position:center;}
                                        .benefit{flex-shrink:0;padding-left:38px;@include text-body2(500);}
                                        .tit{margin-left:auto;color:$primary-hankblue;@include text-body1(500);}
                                    }
                                    &:checked{
                                        + .box{border-color:$primary-hankblue;
                                            &::before{background-image: url($path-common + 'radio-checked.png');}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 결제 금액 설정
    .modal-order-payment {
        .bg{
            &::before, &::after{background:$grayscale-gf8;}
        }
        .content{
            .area-intro{padding:30px 0 0;@include sub-section;
                >div{@include text-title1(600);}
                >p{margin:10px 0 0;color:$grayscale-g44;@include text-body2(400);}
            }
            .area-detail{padding:30px 0;@include sub-section;
                .group{margin:0 0 16px;padding:0 0 16px;border-bottom:1px dashed $grayscale-gee;
                    &:last-child{margin:0;padding:0;border-bottom-width:0;}
                    dl{@include flex-row;justify-content:space-between;align-items:center;
                        dt{@include text-body1(400);}
                        dd{@include flex-row;justify-content:flex-end;align-items:center;@include text-body1(600);}
                        .dicsount{color:$secondary-discount;}
                    }
                    &.total{border-bottom-style:solid;
                        dt{@include text-body2(500);}
                        dd{gap:0 4px;
                            strong{@include text-body3(600);}
                            span{@include text-body2(500);}
                        }
                    }
                    .detail{@include flex-column;gap:2px 0;margin:6px 0 0;
                        dl{align-items:flex-start;
                            dt{width:47%;position:relative;padding-left:14px;color:$grayscale-g94;@include text-script2(400);
                                &::before{content:'';position:absolute;left:4px;top:5px;width:4px;height:4px;border:1px solid $grayscale-g94;border-top-width:0;border-right-width:0;}
                            }
                            dd{gap:0 8px;color:$grayscale-g94;@include text-script2(500);
                                .remove{display:inline-flex;justify-content:center;align-items:center;width:16px;height:16px;border-radius:100%;background-color:$grayscale-gd4;line-height:0;font-size:0;
                                    .i-close{@include filter-white;}
                                }
                            }
                        }
                    }
                }
                .bullets{margin:20px 0 0;}
            }
            .area-set{padding:30px 0 0;@include sub-section;border-top:8px solid $grayscale-gee;
                .box-round{padding-top:29px;padding-bottom:29px;}
                .group{margin:20px 0 0;padding:20px 0 0;border-top:1px solid $grayscale-gee;
                    &:first-child{margin:0;padding:0;border-top-width:0;}
                    &.order{
                        dl{margin:12px 0 0;padding:12px 0 0;border-top:1px dashed $grayscale-gee;
                            &:first-child{margin:0;padding:0;border-top-width:0;}
                            dt{margin-bottom:12px;@include text-body1(600);}
                            dd{
                                .bullets{margin:12px 0 0;}
                            }
                        }
                    }
                    .split-text{@include text-body2(400);
                        strong{color:$primary-hankblue;font-weight:600;}
                        +.btns{margin:20px 0 0;}
                    }
                    .mobile-set{margin-bottom:8px;}
                    .pay-set{@include flex-row;align-items:center;gap:0 8px;
                        input{padding-right:15px;@include text-body1(500);text-align:right;}
                        span{flex-shrink:0;@include text-body1(400);}
                    }
                    .pay-select{@include flex-row;gap:4px;margin-top:8px;
                        .toggle-text{flex:1;
                            span{height:36px;padding:0;color:$primary-midnight;font-size:12px;text-align:center;}
                            input:checked + .midnight{color:$primary-white;}
                        }
                    }
                }
            }
            .bullets{opacity:.7;
                li{color:$grayscale-g44;
                    &::before{background-color:$grayscale-g44;}
                }
            }
        }
    }
    // 결제 카드 변경
    .modal-order-cardModify{
        .content{
            .area-list{padding:10px 0 0;@include sub-section;
                .hk-box{@include flex-column;gap:10px 0;
                    .toggle-card{
                        .box{padding-top:19px;padding-bottom:19px;}
                    }
                    .hk-none{@include flex-column;align-items:center;gap:8px 0;padding:23px 15px;border:1px dashed $grayscale-gd4;border-radius:4px;@include text-body1(500);
                        .icon{@include icon-box(24px, 24px);justify-content:center;align-items:center;border-radius:100%;background-color:$secondary-skyblue;font-size:0;line-height:0;
                            .i-plus{@include filter-white;}
                        }
                    }
                }
                .card-box{margin:20px 0 0;
                    .toggle-card{
                        .box{padding-top:23px;padding-bottom:23px;}
                    }
                }
            }
        }
    }
    // 무이자 할부 선택 
    .modal-order-cardMonthly{
        .area-list{padding:10px 0 0;@include sub-section;
            .selets{@include flex-row;flex-wrap:wrap;gap:10px 8px;
                .toggle-text{width:calc(50% - 4px);
                    input:checked + span{border-color:$primary-hankblue;color:$primary-midnight;}
                }
            }
        }
    }
    // 무이자할부 안내
    .modal-order-cardInfo {
        .content{
            .area-list{padding:30px 0 40px;@include sub-section;
                .item {display:flex;align-items:flex-start;gap:0 16px;padding:16px 10px;border-top:1px solid $grayscale-gee;
                    &:first-child{padding-top:0;border-top-width:0;}
                    .img {flex-shrink:0;width:32px;height:32px;overflow:hidden;border-radius:50%;background:$grayscale-gee;}
                    .info {
                        .name {@include text-body2(600);}
                        .text {margin-top:4px;
                            p {color:$grayscale-g44;@include text-body1(400);}
                        }
                    }
                }
            }
        }
    }
}