.btns {
  display: inline-flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  background-color: $primary-white;
  border: solid 1px transparent;
  .icons {
    filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(106%) contrast(105%)
  }
  &.large {
    height: 52px;
    @include text-body3;
    .icons {
      @include icon-box(24px, 24px);
    }
  }

  &.medium {
    height: 44px;
    @include text-body2;
    .icons {
      @include icon-box(20px, 20px);
    }
  }

  &.small {
    height: 36px;
    @include text-script2(500);
  }

  &.midnight {
    background-color: $primary-midnight;
    color: $primary-white;
  }
  &.midnight-outline {
    border-color: $primary-midnight;
    color: $primary-midnight;
  }
  &.hank {
    background-color: $primary-hankblue;
    color: $primary-white;
  }
  &.hank-outline {
    border-color: $primary-hankblue;
    color: $primary-hankblue;
  }
  &.skyblue {
    background-color: $secondary-skyblue;
    color: $primary-white;
  }
  &.skyblue-outline {
    border-color: $secondary-skyblue;
    color: $secondary-skyblue;
  }
  &.negative {
    background-color: $negative-red;
    color: $primary-white;
  }
  &.negative-outline {
    border-color: $negative-red;
    color: $negative-red;
  }
  &:disabled {
    background-color: $grayscale-gd4;
    color: $grayscale-g94;
  }
}