$icon-sizes: 12, 16, 20, 24, 28, 32, 36, 40, 48, 60;

@each $size in $icon-sizes {
  .i-#{$size} {
    @include icon-box($size + px, $size + px);
  }
}

.icons {
  // 기본 컬러 black
  &.white {
    @include filter-white;
  }
  &.midnight {
    @include filter-midnight;
  }
  &.hank {
    @include filter-hank;
  }
  &.skyblue {
    @include filter-skyblue;
  }
  &.flyblue {
    @include filter-flyblue;
  }
  &.sky {
    @include filter-sky;
  }
  &.g44 {
    @include filter-g44;
  }
  &.g94 {
    @include filter-g94;
  }
  &.gd4 {
    @include filter-gd4;
  }
}

.i-back {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/back.svg');}
    }
}
.i-search {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/search.svg');}
    }
}
.i-share {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/share.svg');}
    }
}
.i-menu {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/menu.svg');}
    }
}
.i-arrow-up {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/arrow-up.svg');}
    }
}
.i-arrow-down {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/arrow-down.svg');}
    }
}
.i-arrow-left {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/arrow-left.svg');}
    }
}
.i-arrow-right {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/arrow-right.svg');}
    }
}
.i-arrow-right2 {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/arrow-right2.svg');}
    }
}
.i-close {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/close.svg');}
    }
}
.i-eye-off {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/eye-off.svg');}
    }
}
.i-eye-on {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/eye-on.svg');}
    }
}
.i-clip {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/clip.svg');}
    }
}
.i-lock {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/lock.svg');}
    }
}
.i-more {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/more.svg');}
    }
}
.i-user {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/user.svg');}
    }
}
.i-tel {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/tel.svg');}
    }
}
.i-error {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/error.svg');}
    }
}
.i-pen {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/pen.svg');}
    }
}
.i-check {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/check.svg');}
    }
}
.i-trash {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/trash.svg');}
    }
}
.i-receipt {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/receipt.svg');}
    }
}
.i-reverse {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/reverse.svg');}
    }
}
.i-bed {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/bed.svg');}
    }
}
.i-restaurant {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/restaurant.svg');}
    }
}
.i-ticket {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ticket.svg');}
    }
}
.i-cut {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/cut.svg');}
    }
}
.i-bag {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/bag.svg');}
    }
}
.i-umbrella {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/umbrella.svg');}
    }
}
.i-aircon {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/aircon.svg');}
    }
}
.i-welcometea {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/welcometea.svg');}
    }
}
.i-slippers {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/slippers.svg');}
    }
}
.i-parasol {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/parasol.svg');}
    }
}
.i-hairdryer {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/hairdryer.svg');}
    }
}
.i-kettle {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/kettle.svg');}
    }
}
.i-wifi {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/wifi.svg');}
    }
}
.i-safe {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/safe.svg');}
    }
}
.i-gown {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/gown.svg');}
    }
}
.i-closet {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/closet.svg');}
    }
}
.i-tv {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/tv.svg');}
    }
}
.i-heart {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/heart.svg');}
    }
}
.i-heart-on {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/heart-on.svg');}
    }
}
.i-download {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/download.svg');}
    }
}
.i-point {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/point.svg');}
    }
}
.i-reservation {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/reservation.svg');}
    }
}
.i-clubtime {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/clubtime.svg');}
    }
}
.i-court {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/court.svg');}
    }
}
.i-card {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/card.svg');}
    }
}
.i-coupon {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/coupon.svg');}
    }
}
.i-voucher {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/voucher.svg');}
    }
}
.i-inquire {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/inquire.svg');}
    }
}
.i-faq {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/faq.svg');}
    }
}
.i-channeltalk {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/channeltalk.svg');}
    }
}
.i-customer1 {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/customer1.svg');}
    }
}
.i-customer2 {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/customer2.svg');}
    }
}
.i-textcopy {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/textcopy.svg');}
    }
}
.i-refresh {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/refresh.svg');}
    }
}
.i-calendar {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/calendar.svg');}
    }
}
.i-membership {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/membership.svg');}
    }
}
.i-naver {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/naver.svg');}
  }
}
.i-kakao {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/kakao.svg');}
  }
}
.i-apple {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/apple.svg');}
  }
}
.i-hank {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/hank.svg');}
  }
}
.i-phone {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/phone.svg');}
  }
}
.i-plus {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/plus.svg');}
  }
}
.i-minus {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/minus.svg');}
  }
}
.i-email {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/email.svg');}
  }
}
.i-trash {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/trash.svg');}
  }
}
.i-filter {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/filter.svg');}
  }
}
.i-check {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/check.svg');}
  }
}
.i-link {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/link.svg');}
  }
}
.i-camera {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/camera.svg');}
  }
}
.i-place {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/place.svg');}
  }
}
.i-mic {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/mic.svg');}
  }
}
.i-bell-off {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/bell-off.svg');}
  }
}
.i-bell-on {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/bell-on.svg');}
  }
}
.i-clip {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/clip.svg');}
    }
}
.i-play {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/play.svg');}
  }
}
.i-pause {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/pause.svg');}
  }
}
.i-transaction {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/transaction.svg');}
  }
}
.i-tour {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/tour.svg');}
  }
}
.i-mytrip {
  @each $size in $icon-sizes {
      &.i-#{$size}{background-image: url($path-icon + $size + '/mytrip.svg');}
  }
}

.i-ia-calendar {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-calendar.svg');}
    }
}
.i-ia-calendar-off {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-calendar-off.svg');}
    }
}
.i-ia-user {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-user.svg');}
    }
}
.i-ia-user-off {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-user-off.svg');}
    }
}
.i-ia-court {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-court.svg');}
    }
}
.i-ia-hotel {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-hotel.svg');}
    }
}
.i-ia-car {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-car.svg');}
    }
}
.i-ia-flight {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-flight.svg');}
    }
}
.i-ia-best {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-best.svg');}
    }
}
.i-ia-membership {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-membership.svg');}
    }
}
.i-ia-pay {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-pay.svg');}
    }
}
.i-ia-card {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-card.svg');}
    }
}
.i-ia-bank {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-bank.svg');}
    }
}
.i-ia-online {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-online.svg');}
    }
}
.i-ia-naver {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-naver.svg');}
    }
}
.i-ia-kakao {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-kakao.svg');}
    }
}
.i-ia-place {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-place.svg');}
    }
}
.i-ia-place-off {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-place-off.svg');}
    }
}
.i-ia-restaurant {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-restaurant.svg');}
    }
}
.i-ia-people {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-people.svg');}
    }
}
.i-ia-time {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-time.svg');}
    }
}
.i-ia-golfball {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-golfball.svg');}
    }
}
.i-ia-sum {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-sum.svg');}
    }
}
.i-ia-hole {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-hole.svg');}
    }
}
.i-ia-par {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-par.svg');}
    }
}
.i-ia-course {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-course.svg');}
    }
}
.i-ia-courselength {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-courselength.svg');}
    }
}
.i-ia-passport {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-passport.svg');}
    }
}
.i-ia-visa {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-visa.svg');}
    }
}
.i-ia-cart {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-cart.svg');}
    }
}
.i-ia-bus {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-bus.svg');}
    }
}
.i-ia-upgrade {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-upgrade.svg');}
    }
}
.i-ia-airballoon {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-airballoon.svg');}
    }
}
.i-ia-coin {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-coin.svg');}
    }
}
.i-ia-tiket {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-tiket.svg');}
    }
}
.i-ia-spa {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-spa.svg');}
    }
}
.i-ia-best {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-best.svg');}
    }
}
.i-ia-history {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-history.svg');}
    }
}
.i-ia-japan {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-japan.svg');}
    }
}
.i-ia-office {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-office.svg');}
    }
}
.i-ia-tour {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-tour.svg');}
    }
}
.i-ia-allinone {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-allinone.svg');}
    }
}
.i-ia-coupon {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-coupon.svg');}
    }
}
.i-ia-lock {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-lock.svg');}
    }
}
.i-ia-shopping {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-shopping.svg');}
    }
}
.i-ia-reverse {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-reverse.svg');}
    }
}
.i-ia-takeoff {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-takeoff.svg');}
    }
}
.i-ia-land {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-land.svg');}
    }
}
.i-ia-land {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-land.svg');}
    }
}
.i-ia-customer {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-customer.svg');}
    }
}
.i-ia-pen {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-pen.svg');}
    }
}
.i-ia-document {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-document.svg');}
    }
}
.i-ia-bell {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-bell.svg');}
    }
}
.i-ia-trip {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-trip.svg');}
    }
}
.i-ia-faq {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-faq.svg');}
    }
}
.i-ia-inquire {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-inquire.svg');}
    }
}
.i-ia-channeltalk {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-channeltalk.svg');}
    }
}
.i-ia-reservation {
    @each $size in $icon-sizes {
        &.i-#{$size}{background-image: url($path-icon + $size + '/ia-reservation.svg');}
    }
}