.app-guide {
  #container {
    min-width: 1920px;
    padding: 0;
    text-transform: uppercase;
    background-color: $primary-white;
  }

  h1 {
    padding: 20px;
    background-color: $grayscale-black;
    color: $primary-white;
    @include text-head1;
    line-height: 1;
    text-transform: uppercase;
  }

  .guide-section {
    padding: 60px;
    border-bottom: 2px solid $primary-hankgolf;
    h2 {
      margin-bottom: 46px;
      @include text-title4;
    }
    .group {
      margin-top: 50px;
      &:first-child {
        margin-top: 0;
      }
      h3 {
        margin-bottom: 30px;
        @include text-body4;
        color: #595959;
      }
    }
  }

  .color-chips {
    display: flex;
    gap: 20px;
  }
  .color-chip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-left: 13px;
    border-radius: 12px;
    background: $bg-pear;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
    color: $primary-white;
    font-family: 'Anek Gujarati';
    letter-spacing: 0.75px;
    .hex {
      font-size: 15px;
      font-weight: 700;
      line-height: 23px;
    }
    .name {
      font-size: 11px;
      font-weight: 500;
      line-height: 17px;
    }
    &.hankblue {
      background: $primary-hankblue;
    }
    &.hankgolf {
      background: $primary-hankgolf;
    }
    &.midnight {
      background: $primary-midnight;
    }
    &.white {
      background: $primary-white;
      color: $grayscale-g94;
    }
    &.darkblue {
      background: $secondary-darkblue;
    }
    &.skyblue {
      background: $secondary-skyblue;
    }
    &.turquoise {
      background: $secondary-turquoise;
    }
    &.lightgreen {
      background: $secondary-lightgreen;
    }
    &.black {
      background: $grayscale-black;
    }
    &.g33 {
      background: $grayscale-g33;
    }
    &.g94 {
      background: $grayscale-g94;
    }
    &.gd4 {
      background: $grayscale-gd4;
      color: $grayscale-g94;
    }
    &.gee {
      background: $grayscale-gee;
      color: $grayscale-g94;
    }
    &.gf4 {
      background: $grayscale-gf4;
      color: $grayscale-g94;
    }
    &.gf8 {
      background: $grayscale-gf8;
      color: $grayscale-g94;
    }
    &.sky {
      background: $bg-sky;
      color: $grayscale-g94;
    }
    &.lightsky {
      background: $bg-lightsky;
      color: $grayscale-g94;
    }
    &.pear {
      background: $bg-pear;
      color: $grayscale-g94;
    }
    &.gradation1 {
      background: $gradation-01;
    }
    &.gradation2 {
      background: $gradation-02;
    }
    &.gradation3 {
      background: $gradation-03;
    }
    &.gradation4 {
      background: $gradation-04;
    }
    &.gradation5 {
      background: $gradation-05;
    }
    &.negative {
      background: $negative-red;
    }
  }
  .typeface-box {
    display: flex;
    gap: 40px;
    .en {
      @include text-en;
    }
    li {
      display: flex;
      align-items: center;
      gap: 0 40px;
      width: calc(50% - 20px);
      padding: 40px;
      background-color: $grayscale-gf8;
      border-radius: 12px;
      text-transform: none;
      .thumb {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 12px;
        background-color: $primary-white;
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.15);
        @include text-title1(500);
      }
      .name {
        @include text-title1(500);
      }
      .weight {
        @include text-body3(400);
        color: #a9a9a9;
      }
      .lang {
        margin-left: auto;
        color: $primary-hankgolf;
      }
    }
  }
  .style-box {
    text-transform: none;
    .en {
      @include text-en;
    }
    dl {
      display: flex;
      align-items: center;
      padding: 24px 0;
      border-top: 1px solid $grayscale-gd4;
      dt {
        display: flex;
        flex-direction: column;
        width: 300px;
        .type {
          @include text-title1;
        }
        .style {
          @include text-script2(400);
          color: $grayscale-g94;
        }
      }
      dd {
        width: calc(100% - 300px);
        margin-top: 10px;
      }
      .head1 {
        @include text-head1;
      }
      .head2 {
        @include text-head2;
      }
      .title1 {
        @include text-title1;
        .m {
          @include text-title1(500);
        }
      }
      .title2 {
        @include text-title2;
        .m {
          @include text-title2(500);
        }
      }
      .title3 {
        @include text-title3;
        .m {
          @include text-title3(500);
        }
      }
      .title4 {
        @include text-title4;
      }
      .body1 {
        @include text-body1;
      }
      .body2 {
        @include text-body2;
        .r {
          @include text-body2(400);
        }
      }
      .body3 {
        @include text-body3;
        .r {
          @include text-body3(400);
        }
      }
      .body4 {
        @include text-body4;
      }
      .script1 {
        @include text-script1;
        .r {
          @include text-script1(400);
        }
      }
      .script2 {
        @include text-script2;
        .m {
          @include text-script2(500);
        }
        .r {
          @include text-script2(400);
        }
      }
    }
  }
  .buttons {
    .group-in {
      display: flex;
      align-items: center;
      + .group-in {
        margin-top: 30px;
      }
      h4 {
        width: 200px;
      }
      ul {
        + ul {
          margin-top: 10px;
        }
        display: flex;
        gap: 0 10px;

        .btns {
          width: 144px;
          text-transform: uppercase;
        }
      }
    }
  }

  .forms {
    .group {
      max-width: 720px;
    }
    .group-in {
      + .group-in {
        margin-top: 30px;
      }
      h4 {
        margin-bottom: 15px;
      }
    }
  }

  .flexs {
    .box {
      padding: 20px;
      border-radius: 10px;
      background-color: $bg-sky;
    }
  }

  .ico-g {
    .group-in {
      + .group-in {
        margin-top: 30px;
      }
      h4 {
        margin-bottom: 15px;
      }
      ul {
        display: flex;
        gap: 10px;
      }
    }
  }
}