body {
	@include mo-min-width;
	@include text;
}

.blind{visibility:hidden !important;position:absolute !important;top:-99999px !important;}

#app {
	overflow: hidden;
	position: relative;
}

#container {
	position: relative;
	padding-top: 56px;
	margin: 0 auto;
    @include desktop{
        padding-top: 80px;
        background-color: $grayscale-gee;
    }
    &.main {
        padding-top: 0;
        background-color: transparent;
    }
    &.sub {
        @include desktop{
            padding-top: 136px;
        }
    }
    &.sub2 {
        padding-top: 0;
        @include desktop{
            padding-top: 80px;
        }
    }
}

#contents {
    max-width: $pad-width;
    min-height: 50vh;
    margin: 0 auto;
    background-color: $primary-white;
    &.gray {
        background-color: $grayscale-gf8;
    }
    &.full {
        max-width: none;
    }
}