input[type=checkbox]{border:1px solid red;}
input[type=checkbox]:checked{border:1px solid black;}

input[type=radio]{border:1px solid red;}
input[type=radio]:checked{border:1px solid black;}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=search],
input[type=email]{@include forms-default;}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=email]:focus{border-color:$grayscale-black;}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
input[type=search]::placeholder,
input[type=email]::placeholder{color:$grayscale-g94;}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled,
input[type=search]:disabled,
input[type=email]:disabled{background:$grayscale-gee;}

input[type=file]{color:$grayscale-black;}

textarea{@include forms-default;}
textarea::placeholder{color:$grayscale-g94;}
textarea:disabled{background:$grayscale-gee;}

select{@include forms-default;}

input.error {
  border-color: $negative-red;
  color: $negative-red;
}