#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    @include mobile{
		height: 56px;
		background: transparent;
	}
    @include desktop{
		height:80px;
		background-color:$primary-white;
	}

    .inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 16px 20px;
        @include desktop {
            padding: 28px 100px;
            .page-name {display:none;}
        }
    }

    h1 {
        width: 125px;
        height: 24px;
        background-image: url($path-common + 'ci.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        a {
			display: block;
			height: 100%;
        	text-indent: -999em;
		}
    }
    .util {
        display: flex;
        gap: 0 16px;
    }

    .i-search {
        display: none;
        @include desktop{display: block;}
    }

    .i-share, .i-back {
        @include desktop{display: none;}
    }
    
    .gnb {
		ul {
			display: flex;
			li {
				width: auto;
				padding: 0 30px;
				text-align: center;
			}
		}
		@include mobile{
			@include blind;
		}
	}

    &.type1 {
        .page-name {display:none;}
        .share {display:none;}
    }
    
    &.type2 {
		h1 {
			@include mobile{
				@include blind;
			}
		}
		.page-name {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}